.quizSection {
    width: 100%;
    height: 80vh;
    background: lightgrey;
    margin-top: 20px;

}
.questionSection {
        position: relative;
        width: 100%;
        height: 100%;
            
}
.questionDivParent {
    position: relative;
    width: 100%;
    height: 15%;
    background: white;
    border: solid black 1px;
    display: table;
    margin: 0 auto;
}