html, body {
    margin:0;
}  

ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;


}

li {
    float: left;
    font-family: "Georgia";
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Georgia";
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: #111;
    font-family: "Georgia";
    cursor: pointer;
}


#head {
    font-family: "Georgia";
    font-size: 100px;
    text-align: center;

}
#reset {
    margin-top: 500px;
}
#getScore {
    margin-top: 475px;
}